Package: com.ludvigeriksson.statusbartimer
Name: StatusBarTimer
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Displays the timer next to the clock in the status bar.
Maintainer: Ludvig Eriksson
Author: Ludvig Eriksson
Section: Tweaks
Version: 1.2.3
Installed-Size: 376
