Package: com.ludvigeriksson.statusbartimer
Name: StatusBarTimer
Depends: mobilesubstrate
Version: 1.2.1
Architecture: iphoneos-arm
Description: Displays the timer next to the clock in the status bar.
Maintainer: Ludvig Eriksson
Author: Ludvig Eriksson
Section: Tweaks